@* <footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 2.0.0
    </div>
    <strong>Bản quyền &copy; 2018 <a href="/">QUẢN LÝ KHO</a>.</strong> Đã đăng ký bản quyền.
</footer> *@