@{
    ViewData["Title"] = "Truy cập bị từ chối";
    Layout = "_AdminlteNetcoreBlank";
}



<div class="register-box">
    <div class="register-box-body">
        <div class="text-center">
            <h3>Bạn không có quyền truy cập vào tài nguyên này.</h3>
        </div>
    </div>
</div>