@model QuanLyKho.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Quên mật khẩu?";
    Layout = "_AdminlteNetcoreRegister";
}

<div class="register-box">
   
    <div class="register-box-body">
        <div class="register-logo">
            <a href="@QuanLyKho.MVC.Pages.HomeIndex.Url"><b>QUẢN LÝ</b> KHO</a>
        </div>
        <p class="login-box-msg">Quên mật khẩu</p>
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group has-feedback">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-flat">Đặt lại mật khẩu</button>
        </form>



    </div>
    <!-- /.form-box -->
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
