@model QuanLyKho.Models.Invent.Branch

@{
    ViewData["Title"] = "Cập nhật Chi nhánh";
    ViewData["HeaderText"] = "Cập nhật Chi nhánh";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-building-o";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="branchId" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Tên Chi Nhánh</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-building"></i></span>
                        <input asp-for="branchName" class="form-control" placeholder="Ví dụ: Chi nhánh Hà Nội" />
                    </div>
                    <span asp-validation-for="branchName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Thiết lập</label>
                    <div class="checkbox">
                        <label>
                            <input asp-for="isDefaultBranch" /> Đặt làm chi nhánh mặc định
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Mô Tả Chi Nhánh</label>
            <textarea asp-for="description" class="form-control" rows="3" placeholder="Ghi chú ngắn về chi nhánh"></textarea>
            <span asp-validation-for="description" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Địa Chỉ 1</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input asp-for="street1" class="form-control" placeholder="Số nhà, đường..." />
                    </div>
                    <span asp-validation-for="street1" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Địa Chỉ 2</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-o"></i></span>
                        <input asp-for="street2" class="form-control" placeholder="Phường/Xã, Quận/Huyện..." />
                    </div>
                    <span asp-validation-for="street2" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Thành Phố</label>
                    <input asp-for="city" class="form-control" placeholder="Thành phố" />
                    <span asp-validation-for="city" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Tỉnh/Quận/Huyện</label>
                    <input asp-for="province" class="form-control" placeholder="Tỉnh/Quận/Huyện" />
                    <span asp-validation-for="province" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Quốc Gia</label>
                    <input asp-for="country" class="form-control" placeholder="Việt Nam" />
                    <span asp-validation-for="country" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{

    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/all.css" />

}





@section Scripts {
    <!-- iCheck -->
    <script src="~/AdminLTE/plugins/iCheck/icheck.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('input[type=checkbox], input[type=radio]').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>

}




