@model QuanLyKho.Models.Invent.Product

@{
    ViewData["Title"] = "Sửa";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="productId" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Mã sản phẩm</label>
                    <input asp-for="productCode" class="form-control" />
                    <span asp-validation-for="productCode" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Tên sản phẩm</label>
                    <input asp-for="productName" class="form-control" />
                    <span asp-validation-for="productName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Mô tả</label>
            <input asp-for="description" class="form-control" />
            <span asp-validation-for="description" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Mã vạch (Barcode)</label>
                    <input asp-for="barcode" class="form-control" />
                    <span asp-validation-for="barcode" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Số serial</label>
                    <input asp-for="serialNumber" class="form-control" />
                    <span asp-validation-for="serialNumber" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Loại sản phẩm</label>
                    <select asp-for="productType" class="form-control select2" asp-items="Html.GetEnumSelectList<QuanLyKho.Models.Invent.ProductType>()"></select>
                    <span asp-validation-for="productType" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Đơn vị tính</label>
                    <select asp-for="uom" class="form-control select2" asp-items="Html.GetEnumSelectList<QuanLyKho.Models.Invent.UOM>()"></select>
                    <span asp-validation-for="uom" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
</div>







            @section Scripts {
                 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }




