@model NetCore_Update.Models.Invent.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-bank";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="customerId" />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Tên khách hàng</label>
                    <input asp-for="customerName" class="form-control" />
                    <span asp-validation-for="customerName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Quy mô doanh nghiệp</label>
                    <select asp-for="size" class="form-control select2" asp-items="Html.GetEnumSelectList<NetCore_Update.Models.Invent.BusinessSize>()"></select>
                    <span asp-validation-for="size" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Địa chỉ 1</label>
                    <input asp-for="street1" class="form-control" />
                    <span asp-validation-for="street1" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Địa chỉ 2</label>
                    <input asp-for="street2" class="form-control" />
                    <span asp-validation-for="street2" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Mô tả / Ghi chú</label>
            <input asp-for="description" class="form-control" />
            <span asp-validation-for="description" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Thành phố</label>
                    <input asp-for="city" class="form-control" />
                    <span asp-validation-for="city" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Tỉnh / Quận</label>
                    <input asp-for="province" class="form-control" />
                    <span asp-validation-for="province" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Quốc gia</label>
                    <input asp-for="country" class="form-control" />
                    <span asp-validation-for="country" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
</div>








@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



